/* Index.css -- Styling the nav elements for Project 1 index.html
 * author: Ryan West
 */

 
 .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
    margin-top: 1vh;
  }
  
  .image-grid a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .image-grid img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .image-grid a:hover .overlay {
    opacity: 1;
  }

  @media only screen and (max-width: 926px) {
    .image-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      margin-top: 20px;
    }
  
    .image-grid a {
      width: 100%;
    }
  
    .image-grid img {
      height: 100%;
    }
  
    .image-grid .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-align: center;
      padding: 10px;
      font-size: 1.2rem;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  
    .image-grid a:hover .text-overlay {
      opacity: 1;
    }
  }